body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 1500px;
}

header {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: rgb(241, 174, 28);
  background-image: url("../image/bannerbio3.jpg");
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 20px;
  margin-right: 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

nav a:hover {
  background-color: rgb(241, 174, 28);
  color: rgb(3, 3, 3);
}

.banner {
  background-image: url("../image/bannerbio7.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 1100px;
}

.banner_text {
  display: flex;
  flex-direction: column;
}

.banner_text h1 {
  font-size: 90px;
  text-shadow: 20px 20px 30px #000000;
  margin-top: 160px;
  margin-right: 290px;
  color: rgb(241, 174, 28);
}

.banner_text h2 {
  color: white;
  font-size: 30px;
  text-shadow: 30px 30px 30px #000000;
}

.banner_text h2:hover {
  font-size: 40px;
  color: rgb(99, 7, 175);
  transition: 2s;
}

cite:hover {
  font-size: 40px;
  color: rgb(99, 7, 175);
  transition: 1s;
}

cite {
  color: white;
  font-size: 23px;
  margin-right: 200px;
  text-shadow: 0px 1px 0px #000000;
}

.biografia {
  height: 1100px;
  width: 100%;
  background-image: url("../image/bannerbio3.jpg");
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.bio_image img {
  margin-top: 90px;
  margin-left: 90px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-right: 17px solid rgb(241, 174, 28);
  border-bottom: 17px solid rgb(241, 174, 28);
  transition: 4s;
}

.container_bio {
  display: flex;
}

.bio_image img:hover {
  border-right: 50px solid rgb(99, 7, 175);;
  border-bottom: 50px solid rgb(99, 7, 175);;
  transition: 4s;
}

.bio_image h1 {
  color: rgb(241, 174, 28);
  margin-left: 99px;
  margin-top: 150px;
  font-size: 40px;
}

.h1_border {
  border-bottom: 2px solid rgb(241, 174, 28);
  margin-left: 99px;
}

.biografia_text p {
  color: #ffffff;
  font-size: 23px;
  line-height: 34px;
  display: flex;
  margin-top: 400px;
  margin-left: 20px;
  margin-right: 35px;
}
 

.carrer {
  background-image: url("../image/bannerbio5.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 1100px;
}


.carrer_album {
  margin-top: 250px;
}

.carrer_album img {
  height: 350px;
  width: 480px;
  padding: 15px;
  border-right: 15px solid rgb(241, 174, 28);
  border-bottom: 15px solid rgb(99, 7, 175);
}


.carrer_titulos {
  margin-top: 200px;
  margin-right: 400px;
}

.carrer_titulos h1 {
  color: rgb(99, 7, 175);
  margin-left: 250px;
}

.titulos_banner {
  border-right: 15px solid rgb(241, 174, 28);
  border-bottom: 15px solid rgb(99, 7, 175);
  padding: 7px;
  list-style: none;
  font-size: 18px;
  width: 490px;
}


.footer {

}

.footer_final {
  background-image: url("../image/10.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 1100px;
}


.footer_final p {
  margin-top: 200px;
  font-size: 30px;
  padding: 230px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 40px;
}