body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  width: 990px;
}

header {
  display: flex;
  flex-direction: row-reverse;
  height: 100px;
  background-color: black;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 20px;
  margin-right: 100px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

nav a:hover {
  background-color: rgb(255, 251, 0);
  color: rgb(3, 3, 3);
}

.banner {
  background-image: url("../image/kobe1.jpg");
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 1100px;
}

.banner_text {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

.banner_text h1 {
  font-size: 90px;
  text-shadow: 1px 1px 0px #000000;
  margin-left: 800px;
  margin-top: 200px;
  color: rgb(241, 174, 28);
}

.banner_text h2 {
  font-size: 21px;
  text-shadow: 0px 1px 0px #000000;
  color: aliceblue;
  margin-left: 800px;
  font-size: 25px;
}

cite {
  color: aliceblue;
  margin-right: 200px;
}

.biografia {
  height: 1100px;
  width: 100%
}

.bio_image img {
  margin-top: 90px;
  margin-left: 90px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-right: 17px solid rgb(241, 174, 28);
  border-bottom: 17px solid rgb(241, 174, 28);
  transition: 4s;
}

.container_bio {
  display: flex;
}

.bio_image img:hover {
  border-right: 50px solid rgb(241, 174, 28);
  border-bottom: 50px solid rgb(241, 174, 28);
  transition: 1s;
}

.bio_image h1 {
  color: rgb(241, 174, 28);
  margin-left: 99px;
  margin-top: 150px;
  font-size: 40px;
}

.h1_border {
  border-bottom: 2px solid rgb(241, 174, 28);
  margin-left: 99px;
}

.biografia_text p {
  color: #000000;
  font-size: 23px;
  line-height: 34px;
  display: flex;
  margin-top: 400px;
  margin-left: 20px;
  margin-right: 35px;
}
 

.carrer {
  height: 1110px;
  background-color: #000000;
}



/* 
.carrer {
  background-image: url("../image/bannerbio6.jpg");
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 1100px;
}


.biografia {
  height: 1100px;
  background-image: url("../image/bannerbio7.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}




background-image: url("../image/bannerbio3.jpg");
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 1100px;